.marketing-content{padding:5px 0 10px;}
.marketing-slot{float:left;width:284px;}
.marketing-slot a{display:block;}
.marketing-slot img{max-width:284px;}
.marketing-carousel{float:left;padding-left:16px;width:680px;position:relative;}
.marketing-carousel ul{list-style:none;margin:0;padding:0;line-height:0;}
.marketing-carousel ul li{float:left;width:680px!important;}
.marketing-carousel .marketing-carousel-direction a{position:absolute;top:44%;z-index:9999;width:41px;height:43px;}
.jcarousel-skin-mlts .marketing-carousel .jcarousel-clip-horizontal{margin:0 auto;width:680px;}
.jcarousel-skin-mlts .marketing-carousel .jcarousel-item{width:680px;}
.jcarousel-skin-mlts .marketing-carousel .jcarousel-prev-horizontal{background:url("/img/buttons/mainimageleft.png") no-repeat scroll 0 0 transparent;left:16px;height:43px;width:41px;margin-top:-16px;}
.jcarousel-skin-mlts .marketing-carousel .jcarousel-next-horizontal{background:url("/img/buttons/mainimageright.png") no-repeat scroll 0 0 transparent;cursor:pointer;height:43px;width:41px;margin-top:-16px;}
ul.cat-list{list-style:none;padding:8px 0 3px;width:760px;}
ul.cat-list li{float:left;height:100%;margin:0 0 12px 0;width:186px;padding:20px 5px 13px 0;text-align:center;}
.shop-content ul.cat-list li{margin:0 0 12px 0!important;width:186px!important;padding:20px 5px 13px 0!important;background-color:transparent!important;border:none!important;min-height:0;}
ul.cat-list li.last{padding:20px 0 13px 0;}
.shop-content ul.cat-list li.last{padding:20px 0 13px 0!important;}
.shop-content ul.cat-list li.product-background{background:transparent url('/img/common/productbggray.png') left bottom no-repeat;}
.cat-list-img{text-align:center;height:152px;padding-top:6px;}
.cat-list-img a{display:block;text-decoration:none;position:relative;}
.cat-list-deparment,.cat-list-deparment a,.cat-list-deparment a h2,.cat-list-shop-by,.cat-list-shop-by a,.cat-list-shop-by a h2{font:bold 14px/16px Helvetica,sans-serif;color:#414142;text-decoration:none;display:block;}
.cat-list-deparment,.cat-list-shop-by{min-height:19px;padding-top:7px;margin:0 15px;}
ul.depart-list li .cat-list-deparment,.cat-list-shop-by{text-transform:uppercase;}
.cat-list-shop-by a{text-align:left;padding-bottom:10px;}
.cat-list-shop-by a:hover{text-decoration:underline;}
.shop-list-deparment,.shop-list-deparment a,.shop-list-deparment a h2{font:700 16px/19px 'Gotham A','Gotham B',Arial,Helvetica,sans-serif;font-style:normal;padding-top:5px!important;text-transform:none;margin:0;}
.shop-list-deparment{position:relative;}
.shop-list-deparment a{position:absolute;bottom:0;width:100%;left:0;}
.cat-list-deparment span,.cat-list-shop-by span{color:#8B8B8B;}
.cat-list-orage-left{background:transparent url('/img/category/lineorange01.png') center left no-repeat;width:31px;display:inline-block;}
.cat-list-orage-right{background:transparent url('/img/category/lineorange02.png') center left no-repeat;width:26px;display:inline-block;}
.cat-list-deparment a{width:100%;line-height:21px;}
.cat-list-deparment a:hover{text-decoration:underline;}
.cat-list-category,.cat-list-category a{font:normal 14px/16px Helvetica,sans-serif;color:#414142;text-decoration:none;text-align:center;display:block;padding-top:6px;}
.cat-list-category{padding-top:3px;}
.cat-list-category a:hover{text-decoration:underline;}
.cat-list-all{text-align:center;padding:12px 0 0;}
.cat-list-all a{font:bold 14px/16px Helvetica,sans-serif;color:#414142;text-decoration:none;text-align:center;display:block;background:transparent url('/img/buttons/arrowred.png') 69% 55% no-repeat;}
.cat-list-all a:hover{text-decoration:underline;}
.promotion-content{width:200px;float:right;padding:20px 0 0 16px;}
.promotion-content .promotion-background-first{background:transparent url('/img/category/purple.png') center bottom no-repeat;}
.promotion-content .promotion-background-second{background:transparent url('/img/category/orange.png') center bottom no-repeat;}
.promotion-content .promotion-subcontent{min-height:275px;width:100%;background-color:#FFF;margin-bottom:17px;}
.promotion-subcontent .promotion-info{color:#414142;max-width:198px;margin:0 auto;border-left:thin solid #D5D7D8;border-right:thin solid #D5D7D8;padding-bottom:14px;}
.promotion-subcontent .promotion-info p,.promotion-subcontent .promotion-info div{width:170px;margin:0 auto;}
.promotion-subcontent .promotion-info .promotion-description{font:normal 13px/15px Helvetica,sans-serif;background:transparent url('/img/category/dotssmall.png') center bottom no-repeat;padding-bottom:15px;min-height:30px;}
.promotion-subcontent .promotion-info .promotion-discount{font:normal 18px/22px 'ClarendonBT-Roman','times new roman',serif;text-transform:uppercase;padding:11px 0 9px;}
.promotion-subcontent .promotion-info .promotion-shop-now,.promotion-subcontent .promotion-info .promotion-shop-now a{font:bold 14px/16px Helvetica,sans-serif;text-decoration:none;color:#414142;text-align:right;}
.promotion-subcontent .promotion-info .promotion-shop-now{padding:13px 0 7px;}
.promotion-subcontent .promotion-info .promotion-shop-now a:hover{text-decoration:underline;}
.promotion-subcontent .promotion-info .promotion-shop-now span{background:transparent url('/img/buttons/arrowred.png') right 55% no-repeat;display:inline-block;width:6px;height:9px;}
.shop-carousel-content{width:760px;}
.shop-carousel-content ul li{margin-right:22px;position:relative;}
.cat-carousel{position:relative;margin:19px 0 23px;}
.cat-carousel ul{padding-left:61px;}
.cat-carousel ul li{float:left;width:196px!important;border:thin solid #D5D7D8;min-height:256px;background-color:#FFF;}
.shop-carousel-content .cat-carousel ul li{min-height:278px;}
.cat-carousel .cat-carousel-img{min-height:106px;padding-top:40px;text-align:center;}
.cat-carousel .cat-carousel-img a{text-decoration:none;}
.shop-carousel-content .cat-carousel .cat-carousel-img{min-height:152px;padding-top:20px;text-align:center;}
.cat-carousel-deparment,.cat-carousel-deparment a,.cat-carousel-deparment a h2{color:#414142;display:block;font:bold 15px/18px Helvetica,sans-serif;text-align:center;text-decoration:none;}
.cat-carousel-deparment{min-width:158px;max-width:165px;margin:0 auto;padding-top:9px;}
.cat-carousel-deparment a:hover{text-decoration:underline;}
.cat-carousel-total-products{background-color:#F36B21;color:#FFF;position:absolute;bottom:0;left:0;width:100%;font:normal 22px/26px Helvetica,sans-serif;padding:11px 0 4px;}
.cat-carousel-total-products span{font:normal 20px/28px "MarydaleRegular",Helvetica,sans-serif;}
.cat-carousel-price{color:#414142;display:block;font:normal 14px/19px Helvetica,sans-serif;text-align:center;padding:5px 0 0;}
.cat-carousel-price span{color:#414142;font-size:16px;line-height:19px;font-weight:bold;}
.cat-carousel-price del{font-size:16px;font-weight:bold;color:#8B8B8B;display:inline-block;}
.cat-carousel-price .cat-carousel-sale-price{font-size:16px;font-weight:bold;color:#DC291E;display:inline-block;padding-left:5px;}
.cat-carousel-star{padding:5px 50px 0;}
.cat-carousel-star div{float:left;padding-right:4px;}
.cat-carousel-star div.last-star{padding-right:0;}
.cat-see-all,.cat-see-all a{text-align:right;color:#414142;font:bold 14px/16px Helvetica,sans-serif;text-decoration:none;width:638px;margin:0 auto;}
.cat-see-all a span{background:url("/img/buttons/arrowred.png") no-repeat scroll right center transparent;display:inline-block;width:6px;margin-left:8px;}
.shop-carousel-content .jcarousel-skin-mlts .jcarousel-clip-horizontal,.cat-carousel-content .jcarousel-skin-mlts .jcarousel-clip-horizontal{margin:0 auto;width:638px;}
.shop-carousel-content .jcarousel-skin-mlts .jcarousel-prev-horizontal,.cat-carousel-content .jcarousel-skin-mlts .jcarousel-prev-horizontal{margin-top:-21px;}
.shop-carousel-content .jcarousel-skin-mlts .jcarousel-next-horizontal,.cat-carousel-content .jcarousel-skin-mlts .jcarousel-next-horizontal{margin-top:-21px;}
.shop-carousel-content .jcarousel-skin-mlts .jcarousel-next-horizontal,.cat-carousel-content .cat-carousel ul li{min-height:240px;padding-bottom:16px;}
.cat-content{padding-bottom:12px;}
.shop-by-content{padding-bottom:2px;}
.cat-carousel-content ul li{margin-right:22px;}
.dept-hero{height:100%;margin:0;overflow:hidden;width:760px;}
.dept-hero .jcarousel-skin-mlts .jcarousel-clip-horizontal{width:760px;}
.dept-hero .jcarousel-skin-mlts .jcarousel-item{width:760px;}
.dept-hero .jcarousel-skin-mlts .jcarousel-next-horizontal{background:url("/img/buttons/mainimageright.png") no-repeat scroll 0 0 transparent;width:41px;height:43px;}
.dept-hero .jcarousel-skin-mlts .jcarousel-prev-horizontal{background:url("/img/buttons/mainimageleft.png") no-repeat scroll 0 0 transparent;width:41px;height:43px;}
ul.cat-list.depart-list{padding:0 11px;width:738px;}
ul.cat-list.depart-list li{width:180px;padding-right:10px;padding:14px 6px 0 0;margin:0 0 7px;background-color:transparent;border:none;min-height:100%;}
ul.cat-list.depart-list li.last{padding:14px 0 0;}
ul.cat-list.depart-list li div{width:152px;margin:0 auto;}
ul.cat-list.depart-list .cat-list-all a{background-position:74% 55%;}
.module-content{font:normal 14px/21px Helvetica,sans-serif;color:#414142;}
.module-content p{padding-top:10px;}
.module-content img{padding:18px 0 7px;}
.module-content a{color:#414142;text-decoration:none;font-weight:bold;padding-right:4px;}
.module-content .action-arrow{background:url("/img/buttons/arrowred.png") no-repeat scroll right 57% transparent;width:6px;height:9px;display:inline-block;}
.module-content a:hover{text-decoration:underline;}
.module-content ul{margin:7px 0 7px 10px;}
.module-content ul li{background:transparent url('/img/common/dotred.png') left 13px no-repeat;padding:8px 0 0 16px;line-height:16px;}
.module-content .module-top{padding-bottom:46px;}
.module-content .module-top div{width:360px;}
.module-content .module-top .module-tittle{font-size:30px;line-height:36px;font-weight:bold;}
.module-content .module-bottom{padding-bottom:31px;}
.module-content .module-bottom div{width:236px;padding-right:26px;}
.module-content .module-bottom div.last{padding-right:0;}
.module-content .module-bottom .module-tittle{font-size:18px;font-weight:bold;line-height:22px;}
.subcategory-container{padding:14px 0 12px;}
.subcategory-container .subcategory-title{color:#414142;font:bold 26px/30px Helvetica,sans-serif;float:left;padding-top:7px;}
.subcategory-container .subcategory-compare{color:#414142;font:normal 15px/18px Helvetica,sans-serif;float:right;}
.subcategory-container .subcategory-compare label{float:right;padding-top:11px;}
.cat-compare-off-btn{background:url("/img/buttons/compareoff.png") no-repeat scroll left center transparent;cursor:pointer;height:37px;width:106px;margin-left:12px;float:right;}
.cat-compare-on-btn{background:url("/img/buttons/compareon.png") no-repeat scroll left bottom transparent;cursor:pointer;height:39px;width:108px;margin-left:12px;float:right;}
ul.cat-grid li{border:1px solid #D5D7D8;background-color:#FFF;padding:5px 0 91px 0;min-height:303px;position:relative;width:184px;margin-right:5px;}
ul.cat-grid li.last{padding:5px 0 91px;margin-right:0;}
ul.cat-grid .cat-list-deparment{padding-top:12px;}
.cat-feature{min-height:35px;}
#cat-recipe .cat-list-center .cat-feature{min-height:30px;}
.cat-feature .cat-feature-marketing{float:left;padding-top:1px;}
.cat-feature .cat-feature-marketing img{max-height:34px;}
.cat-feature .cat-feature-list{float:right;padding:1px 5px 0 0;}
.cat-feature .cat-feature-list img{float:left;padding:6px 0 0 2px;width:20px;height:20px;}
.cat-price{color:#414142;display:block;font:normal 14px/19px Helvetica,sans-serif;line-height:25px;}
.cat-price del{color:#8B8B8B;font-weight:bold;font-size:16px;display:inline-block;padding-right:5px;}
.cat-price span{font-size:16px;line-height:21px;font-weight:bold;}
.cat-price .cat-sale-price{font-size:16px;font-weight:bold;color:#DC291E;display:inline-block;line-height:21px;}
.cat-star{padding:9px 0 5px;font-size:0;color:#8B8B8B;width:auto;display:inline-block!important;*display:inline!important;}
.cat-star div{float:left;padding:2px 2px 0 0;width:11px;}
.cat-star span{float:left;padding-left:3px;font:normal 14px/16px Helvetica,sans-serif;}
.cat-star div.last-star{padding-right:0;}
.cart-actions{padding:5px 18px 9px;display:inline-block!important;min-width:111px;width:100%;max-width:148px;text-align:center;height:51px;*display:inline!important;position:absolute;left:0;bottom:26px;}
.cat-input-qty{width:24px;height:24px;max-height:24px;text-align:center;font:normal 14px/24px Helvetica,sans-serif;margin-right:2px;display:inline-block;vertical-align:top;}
.cat-add-to-cart-btn{background:transparent url('/img/buttons/addtocart.png') center top no-repeat;width:116px;height:25px;cursor:pointer;margin:1px 0 3px;display:inline-block;}
.cat-customize-btn{background:transparent url('/img/buttons/customize.png') center top no-repeat;width:116px;height:25px;cursor:pointer;margin:1px 0 3px;}
.cat-list-right .cat-customize-btn{float:right;}
.cart-add-list{font:normal 14px/16px Helvetica,sans-serif;color:#057DC2;text-decoration:none;display:inline-block;*display:inline;padding-top:6px;cursor:pointer;}
.cat-compare{background-color:#DBD9D9;font:normal 14px/16px Helvetica,sans-serif;padding:6px 0 4px;position:absolute;bottom:0;width:184px;left:0;}
.cat-compare input{margin-right:5px;}
.cat-load-container{font:normal 18px/20px Helvetica,sans-serif;color:#8B8B8B;margin:17px auto 0;text-align:center;width:350px;}
.cat-load-container span{display:block;width:350px;text-align:center;}
.cat-load-container .cat-load-more{font:bold 18px/20px Helvetica,sans-serif;color:#414142;width:350px;border:1px solid #C5C5C5;border-radius:3px;-webkit-border-radius:3px;background:#FFF;padding:15px 0 13px;cursor:pointer;text-align:center;margin-bottom:14px;}
.cat-load-container a.cat-load-more{text-decoration:none;color:#414142;display:block;}
ul.cat-li li{width:739px;background-color:#FFF;border:1px solid #D5D7D8;float:none;text-align:left;padding:20px 19px 20px 0;margin:0 0 20px;}
.cat-li .cat-list-img{float:left;width:192px;text-align:center;height:156px;padding-top:0;}
.cat-list-center{float:left;width:365px;min-height:156px;font:normal 14px/16px Helvetica,sans-serif;}
.cat-list-center .cat-feature .cat-feature-list{float:left;padding:1px 0 0 10px;}
.cat-list-center .cat-list-deparment{margin:0;padding-top:7px;position:inherit;}
#cat-recipe .cat-list-center .cat-list-deparment{margin:0;padding-top:0;position:inherit;}
.cat-list-center .cat-list-deparment a{position:inherit;width:100%;line-height:21px;}
.cat-list-center .cat-price{line-height:25px;}
.cat-list-center .cat-list-description{color:#8B8B8B;padding-top:4px;line-height:21px;}
#cat-recipe .cat-list-center .cat-list-description{padding-top:0;line-height:19px;}
.cat-list-center .cat-star{padding:6px 0 3px;}
#cat-recipe .cat-list-center .cat-star{padding:3px 0 0 0;}
.cat-list-right{width:182px;min-height:156px;float:left;text-align:right;position:relative;}
.cat-list-right .cart-actions{padding:5px 0 4px 34px;position:absolute;bottom:0;right:0;width:148px;}
.cat-list-right .cart-add-list{float:right;position:relative;}
.cat-list-right .cat-compare{background-color:#F1F1F1;padding:8px 10px 8px 12px;position:relative;width:83px;margin:0 0 0 auto;}
.category-result select{min-width:162px;max-width:180px;width:162px;}
.search-result .load-more-container .button.unselected.strong{margin-top:21px;}
.search-result .view-tabs-container{padding-top:0;}
.search-result .filter-view-container{margin-bottom:8px;}
.search-result select{min-width:162px;max-width:180px;width:162px;}
.search-result ul.cat-grid li{padding:5px 0 65px;}
.search-result #cat-recipe ul.cat-grid li{min-height:235px;}
.search-result .cart-actions{bottom:0;}
.search-result-info .search-result-title,.search-result-info .search-result-title h1{font:700 43px/48px 'Gotham A','Gotham B',Arial,Helvetica,sans-serif;font-style:normal;padding-top:5px;}
.search-result-info .search-result-title h1{padding-top:0;}
.search-result-info .search-result-found{line-height:16px;font-weight:bold;padding-top:6px;}
.search-result-info .search-result-type{padding:15px 0 3px;font-size:0;letter-spacing:0;}
.search-result-info .search-result-type span{font-size:15px;line-height:18px;}
.search-result-info .search-result-type a{font-weight:bold;font-size:15px;line-height:18px;padding:0 10px;}
.search-result-info .search-result-type a.on{color:#DC291E;}
.search-result-type-title{font-size:26px;line-height:30px;font-weight:bold;padding:10px 0 11px;}
.search-result-type-title .search-result-type-title-line{background:url('/img/common/linebig.png') top left no-repeat transparent;margin:0 0 15px;height:4px;}
.search-result .call-to-action-content{padding-top:3px;}
.search-result .call-to-action-content .call-to-action .call-to-action-link{font-size:15px;}
.search-result ul.cat-list .cat-list-description{color:#414142;line-height:21px;}
.search-result #cat-recipe ul.cat-list .cat-list-center .cat-list-description{line-height:19px;}
#cat-content,#cat-recipe{padding-top:9px;}
#cat-content ul.cat-list li{padding:0;width:758px;}
#cat-content ul.cat-list .cat-list-deparment{background-color:#CACBC9;font-size:24px;line-height:28px;margin:0;padding:9px 23px 5px;}
#cat-content ul.cat-list .cat-list-description{background-color:#FEFFFC;line-height:21px;padding:14px 11px 13px 30px;min-height:63px;}
.cat-location{color:#8B8B8B;padding:8px 0 7px;}
.cat-list-description .call-to-action-content{padding-top:3px;}
.cat-list-description .call-to-action,.cat-list-description .call-to-action a,.cat-list-description .call-to-action span{font-weight:bold;line-height:15px;}
.cat-list-description .call-to-action span.bullet{height:15px;}
.search-result .cat-list-right .cart-actions{top:0;bottom:auto;}
.promotion-flag{position:relative;top:-12px;margin-bottom:-12px;}
#cat-recipe ul.cat-li li{padding:11px 19px 9px 0;}
#cat-recipe .cat-li .cat-list-img{width:140px;min-height:114px;height:auto;}
#cat-recipe .cat-li .cat-list-center{width:417px;min-height:114px;height:auto;}
#cat-recipe .cat-li .cat-list-deparment{float:left;max-width:315px;padding-right:15px;}
#cat-recipe .cat-li .cat-star{float:left;}
#cat-recipe .cat-li .cat-list-right{min-height:114px;height:auto;}
.search-result #cat-recipe .cat-list-right .cart-actions{bottom:0;top:auto;padding-bottom:8px;}
.search-result #cat-recipe .cat-list-right .cart-actions .bluelinks{padding-right:4px;}
.search-result #cat-recipe .cat-list-right .cart-add-list{float:none;display:block;text-align:left;}
.atl-container,.atl-recipe-container{width:148px;display:none;position:absolute;z-index:2;top:auto;}
.atl-container ul li,.atl-recipe-container ul li{width:136px;padding:10px 5px!important;margin:-1px 0 0;min-height:16px!important;float:none;}
.atl-container ul li:hover,.atl-container ul li a:hover,.atl-recipe-container ul li:hover,.atl-recipe-container ul li a:hover{background-color:#F8F8F8;font-style:italic;}
.cat-grid .atl-container-triangle,#cat-recipe .cat-grid .atl-container-triangle{background:url("/img/common/atl-container-triangle-border.png") no-repeat center bottom transparent;}
.atl-container-triangle{background:url("/img/common/atl-container-triangle-border.png") no-repeat right bottom transparent;height:13px;right:9px;}
#cat-recipe .atl-container-triangle{background:url("/img/common/atl-container-triangle-border.png") no-repeat left bottom transparent;}
.cat-list-deparment span::before{content:" ";}
.pdp-overlay-info ul.nt-content li{margin-bottom:14px;width:600px;min-height:70px;line-height:18px;}
.pdp-overlay-container{min-width:600px;min-height:585px;padding:30px 74px 35px 60px;background-color:#FFF;}
.pdp-overlay-container h2{font-size:29px;line-height:35px;}
.pdp-overlay-container .call-to-action{color:#414142;font-weight:bold;padding-right:4px;text-decoration:none;line-height:18px;}
.pdp-overlay-container .action-arrow{background:url("/img/buttons/arrowred.png") no-repeat scroll right 57% transparent;display:inline-block;height:9px;width:6px;}
.pdp-overlay-divider{height:5px;width:100%;margin:10px 0 25px 0;background-image:url('/img/common/dotredright.png');}
.gridrecipesview .cat-list-img a{min-height:175px;}
.gridrecipesview .cat-list-img{height:auto;}
.gridrecipesview .cat-list-img a img{max-height:160px;}
.gridrecipesview .cat-list-img a img.promotion-flag{min-height:29px;}
.gridrecipesview .promotion-flag{margin-bottom:-14px;}