.cutomize-checkbox input[type="checkbox"] ~ label{background-position:0 0;background-repeat:no-repeat;cursor:pointer;padding-left:21px;width:0;line-height:21px;height:21px;display:block;}
.dontShow{display:none;}
.show{display:block;}
.cutomize-checkbox input.checked[type="checkbox"] ~ label{background-position:0 -24px;}
a.button{text-align:center;text-decoration:none;display:block;padding:0 10px;border-width:1px;border-style:solid;cursor:pointer;position:relative;border-radius:3px;}
input.button{text-align:center;text-decoration:none;display:block;padding:0 10px;border-width:1px;border-style:solid;cursor:pointer;position:relative;border-radius:3px;}
.cat-select input{width:107px;height:27px;line-height:25px!important;margin:10px auto 13px;}
.graybutton{color:#a9a9a9!important;border:1px solid #c7c7c7!important;background-color:#dfdfdf!important;}
.pdp .block-center .digital-coupons a.button,.pdp .block-center .digital-coupons input.button{display:inline-block;font-family:"GothamMedium",Arial,"MS Trebuchet",sans-serif;}
a.button.unselected,input.button.unselected{color:#414142;background-color:#fff;border-color:#c5c5c5;outline-color:#c5c5c5;outline-style:inherit;}