a{text-decoration:none;}
html{font-size:100%;font:inherit;}
body,a,.main-fmt{font-family:"Helvetica",Arial,"MS Trebuchet",sans-serif;font-style:normal;font-weight:normal;font-variant:normal;font-size:14px;color:#414142;}
.centered{text-align:center;}
.help-icon{background:url('/img/common/helper-icon.png') center center no-repeat transparent;width:27px;height:42px;float:left;}
#ui-datepicker-div{z-index:9999!important;}
#body{margin:0 auto;width:1012px;}
#body .body-content{width:980px;margin:0 auto;padding:0 16px;}
#wrapper{position:relative;}
#content{float:right;padding:0;width:760px;}
.box{padding:15px 0 66px;}
.content-block{width:980px;margin:0 auto;display:block;}
.content-block.full-width{width:100%;}
.content-block .wrapper{width:980px;margin:0 auto;padding:0 15px 15px;}
.rdcrcl-footer-nav{padding:20px 15px;}
@font-face{font-family:'MarydaleBold';src:url('/fonts/marydale-bold/marydale_bold-webfont.eot');src:url('/fonts/marydale-bold/marydale_bold-webfont.eot?#iefix') format('embedded-opentype'),url('/fonts/marydale-bold/marydale_bold-webfont.woff') format('woff'),url('/fonts/marydale-bold/marydale_bold-webfont.ttf') format('truetype'),url('/fonts/marydale-bold/marydale_bold-webfont.svg#marydalebold') format('svg');font-weight:normal;font-style:normal;}
@font-face{font-family:'MarydaleRegular';src:url('/fonts/marydale/marydale-webfont.eot');src:url('/fonts/marydale/marydale-webfont.eot?#iefix') format('embedded-opentype'),url('/fonts/marydale/marydale-webfont.woff') format('woff'),url('/fonts/marydale/marydale-webfont.ttf') format('truetype'),url('/fonts/marydale/marydale-webfont.svg#marydaleregular') format('svg');font-weight:normal;font-style:normal;}
#header{margin:0 auto;background:rgba(34,31,31,0.90);z-index:9998;position:relative;}
#header.checkout{border-bottom:none;}
#header div#header-in{margin:0 auto;width:980px;padding:0 16px;height:65px;}
#header div.section-a{width:780px;float:left;}
#header.checkout div.section-a{padding:11px 0 18px;width:766px;}
#header div.section-a-a{vertical-align:baseline;}
#header div.section-a-a a.logo-hyperlink{display:block;width:auto;float:left;padding:8px 0 0;margin-left:-5px;}
#header div.section-a-a div.search-container,#header div.section-a-a div.secure-checkout{display:block;width:282px;height:33px;float:left;position:relative;padding:20px 0 0;margin:0 12px 0 20px;}
#header div.section-a-a div.secure-checkout{color:#FFF;font-family:'Gotham A','Gotham B',Arial,Helvetica,sans-serif;font-weight:500;font-style:normal;font-size:21px;padding:23px 0 0;}
#header div.section-a-a div.search-container label{height:33px;width:246px;padding:0 27px 0 10px;display:block;line-height:33px;margin:-33px 0 0;}
#header div.section-a-a div.search-container input.search-term{height:33px;width:246px;padding:0 27px 0 10px;margin:0;border:0;background:#FFF;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;}
#header div.section-a-a div.search-container input.textfield-search{font-size:12px;}
#header div.section-a-a div.search-container .icon{width:24px;height:24px;cursor:pointer;position:absolute;top:26px;right:8px;background:url("/img/header/magnifier.png") no-repeat center center transparent;}
#header div.section-a-a div.menu{display:block;width:310px;height:33px;padding:20px 0 0 0;float:right;}
#header div.section-a-a div.menu ul li{line-height:33px;display:inline-block;}
#header div.section-a-a div.menu ul li.item{padding:0;font-family:'Gotham A','Gotham B',Arial,Helvetica,sans-serif;font-weight:400;}
#header div.section-a-a div.menu ul li.item a{font-family:'Gotham A','Gotham B',Arial,Helvetica,sans-serif;font-weight:400;font-style:normal;font-size:12px;color:#FFF;text-decoration:none;line-height:33px;display:inline-block;}
#header div.section-a-a div.menu ul li.separator{font-family:'Gotham A','Gotham B',Arial,Helvetica,sans-serif;font-weight:700;font-style:normal;font-size:12px;color:#FFF;margin:0 4px;color:#FFF;line-height:18px;}
#header .main-menu-content{background-color:#DE2B27;margin:5px 0 0 0;}
#header ul.main-menu{line-height:32px;width:980px;margin:0 auto;}
#header ul.main-menu li{position:relative;}
#header ul.main-menu li .first{margin-left:-10px;}
#header ul.main-menu li.current .icon{background:url('/img/header/arrowup.png') center center no-repeat;width:34px;height:12px;display:block;position:absolute;z-index:98px;bottom:0;left:50%;margin-left:-17px;}
#header ul.main-menu li.current.active .icon{display:none;}
#header ul.main-menu li{padding:5px 4px;display:block;float:left;}
#header ul.main-menu li.separator{width:7px;height:30px;display:block;float:left;background:url('/img/common/dot-bullet.png') center center no-repeat;}
#header ul.main-menu li.item{font-family:'Gotham A','Gotham B',Arial,Helvetica,sans-serif;font-weight:600;}
#header ul.main-menu a,#header ul.main-menu a h2{font-family:'Gotham A','Gotham B',Arial,Helvetica,sans-serif;font-weight:600;font-style:normal;font-size:17px;color:#FFF;text-decoration:none;display:block;}
#header ul.main-menu li.item.active{background:#FFF;border-bottom:2px solid #FFF;margin-bottom:-2px;}
#header ul.main-menu li.item.active a{color:#DE2B27;}
#header div.section-b{width:180px;float:right;position:relative;height:65px;}
#header.checkout div.section-b{padding:11px 0 18px;width:214px;}
#header.checkout div.section-b ul{margin-top:11px;}
#header.checkout div.section-b ul li{padding-top:5px;}
#header.checkout div.section-b ul li a{color:#FFF;}
#header.checkout div.section-b .cart{position:relative;float:left;margin-top:19px;}
#header.checkout div.section-b .cart-label{background-image:url("/img/header/cart-checkout.png");background-repeat:no-repeat;padding-left:48px;height:34px;display:block;}
#header.checkout div.section-b .cart-amount{background:url("/img/header/red.png") no-repeat center top transparent;color:#FFF;font-family:'Gotham A','Gotham B',Arial,Helvetica,sans-serif;font-weight:500;font-style:normal;font-size:13px;height:26px;left:41px;letter-spacing:-1px;line-height:25px;position:absolute;text-align:center;top:-9px;width:26px;}
#header div.section-b ul.menu{position:absolute;z-index:9998;}
#header div.section-b ul.menu li.header{background:url('/img/header/top2.png') top left no-repeat;height:46px;}
#header div.section-b ul.menu li.header .lists .icon,#header div.section-b ul.menu li.header .cart .icon{position:absolute;z-index:+10;top:-2px;left:42px;}
#header div.section-b ul.menu li.header ul li{float:left;padding:9px 0 0;line-height:38px;width:90px;text-align:center;position:relative;}
#header div.section-b ul.menu li.header ul li a{font-family:"Gotham",Arial,"MS Trebuchet",sans-serif;font-size:14px;color:#FFF;text-decoration:none;}
#header div.section-b ul.menu li.header ul li.separator{width:1px;margin-left:-1px;color:#FFF;}
#header div.section-b ul.menu li.body ul{background:#221f1f;}
#header div.section-b ul.menu li.body ul li,#header div.section-b ul.menu li.body ul li a{color:#FFF;text-decoration:none;}
#header div.section-b ul.menu li.footer{width:180px;height:82px;text-align:center;position:relative;}
#header div.section-b ul.menu li.footer a{display:block;}
#header div.section-b ul.menu li.footer a.collapse-controller{top:54px;left:61px;}
#header div.section-b ul.menu li.footer a.collapse-controller img{width:62px;height:26px;border:3px;}
#header div.section-b ul.menu li.header ul li a{line-height:30px;display:inline-block;}
#header div.section-b ul.menu li.header ul li a.label{background-position:center left;background-repeat:no-repeat;}
#header div.section-b ul.menu li.header ul li.lists a.label{background-image:url('/img/header/check.png');padding:4px 0 4px 30px;}
#header div.section-b ul.menu li.header ul li.lists a.label.expanded{background-image:url('/img/header/check-expanded.png');color:#700e0f;}
#header div.section-b ul.menu li.header ul li.cart a.label{background-image:url('/img/header/cart.png');padding:4px 0 4px 42px;position:relative;}
#header div.section-b ul.menu li.header ul li.cart a.label.expanded{background-image:url('/img/header/cart-expanded.png');color:#700e0f;}
#header div.section-b ul.menu li.header ul li.cart{position:relative;}
#header div.section-b ul.menu li.header ul li.cart .amount{font-family:'Gotham A','Gotham B',Arial,Helvetica,sans-serif;font-weight:500;font-style:normal;font-size:13px;color:#4f4117;letter-spacing:-1px;position:absolute;top:1px;left:17px;background:url('/img/header/yellow.png') top center no-repeat;width:25px;height:23px;line-height:23px;text-align:center;display:block;}
#header div.section-b ul.menu li.footer a.title{display:block;width:178px;max-width:178px;height:46px;max-height:46px;padding-top:10px;margin:0 auto 0;font-family:"MarydaleBold",Helvetica,sans-serif;font-size:18px;color:#FFF;line-height:22px;font-weight:normal;}
#header div.section-b ul.menu li.footer a.title span{max-height:22px;display:inline-block;*display:inline;*zoom:1;text-overflow:ellipsis;-ms-text-overflow:ellipsis;white-space:nowrap;overflow:hidden;word-wrap:normal;max-width:162px;width:162px;font-size:17px;margin-top:-3px;}
#header div.section-b ul.menu li.footer a.title span.address{font-family:Helvetica,sans-serif;font-size:13px;max-height:16px;line-height:16px;font-weight:normal;max-width:134px;margin-top:0;}
#header div.section-b ul.menu li.footer a.collapse-controller{display:block;width:61px;height:18px;margin:0 auto 0;}
#header div.section-b ul.menu.registered li.body ul li{height:34px;line-height:34px;padding:0 12px;border-bottom:1px solid #3f3e3f;}
#header div.section-b ul.menu.registered li.body ul a{font-family:"Gotham",Arial,"MS Trebuchet",sans-serif;font-size:14px;display:inline-block;background-position:center left;background-repeat:no-repeat;padding-left:50px;}
#header div.section-b ul.menu.registered li.footer.collapsed,#header div.section-b ul.menu.warm li.footer.collapsed{background:url('/img/header/accountbottom03.png') top center no-repeat;}
#header div.section-b ul.menu.registered li.footer.expanded,#header div.section-b ul.menu.warm li.footer.expanded{background:url('/img/header/accountbottom01.png') top center no-repeat;}
#header div.section-b ul.menu.guest li.body .title,#header div.section-b ul.menu.warm li.body .title{color:#FFF;line-height:43px;background:#221f1f;text-align:center;}
#header div.section-b ul.menu.warm li.body .warm-register{color:#FFF;background:#221f1f;padding:0 2px 0 15px;}
#header div.section-b ul.menu.warm li.body .warm-register a{color:#FFF;padding:0 0 1px 0;display:inline-block;line-height:16px;font-size:13px;border-bottom:1px solid #fff;margin:0 8px 15px 0;display:inline-block;max-width:100px;}
#header div.section-b ul.menu.warm li.body .warm-register .right a{max-width:100px;}
#header div.section-b ul.menu.warm li.body .warm-register span{font-size:11px;}
#header div.section-b ul.menu.warm li.body .warm-register .left{width:48px;margin-right:7px;}
#header div.section-b ul.menu.warm li.body .warm-register .right{width:107px;}
#header div.section-b ul.menu.warm li.body .warm-register .right span{display:inline-block;max-width:92px;font-size:13px;display:inline-block;*display:inline;*zoom:1;text-overflow:ellipsis;-ms-text-overflow:ellipsis;white-space:nowrap;overflow:hidden;word-wrap:normal;padding:0;}
#header div.section-b ul.menu.warm li.body .warm-register .right span{vertical-align:top;font-size:13px;}
#header div.section-b ul.menu.guest li.body ul li,#header div.section-b ul.menu.warm li.body ul li{background:url('/img/header/dot.png') no-repeat 15px 8px;padding-left:25px;line-height:20px;height:20px;}
#header div.section-b ul.menu.guest li.body ul li a,#header div.section-b ul.menu.warm li.body ul li a{font-size:13px;}
#header div.section-b ul.menu.guest li.body ul li,#header div.section-b ul.menu.warm li.body ul li{line-height:20px;border-bottom:0;}
#header div.section-b ul.menu.guest li.body ul li.last,#header div.section-b ul.menu.warm li.body ul li.last{padding-bottom:10px;}
#header div.section-b ul.menu.guest li.footer.collapsed{background:url('/img/header/accountbottom02.png') top center no-repeat;}
#header div.section-b ul.menu.guest li.footer.expanded{background:url('/img/header/accountbottom04.png') top center no-repeat;}
.registered .recipe-box a{background-image:url('/img/header/recipe.png');}
.registered .coupons a{background:url('/img/header/coupons.png');}
.registered .pharmacy a{background:url('/img/header/pharmacy.png');}
.registered .my-store a{background:url('/img/header/mystore.png');}
.registered .my-account a{background:url('/img/header/myaccount.png');}
.icon.add{background:url('/img/pdp/add.png') left center no-repeat;display:inline-block;min-width:23px;min-height:23px;padding-left:28px;}
.icon.email{background:url('/img/pdp/email.png') left center no-repeat;display:inline-block;min-width:34px;min-height:13px;padding-left:26px;}
.icon.print{background:url('/img/pdp/print.png') left center no-repeat;display:inline-block;min-width:28px;min-height:19px;padding-left:25px;}
.icon.expand{background:url('/img/pdp/expand.png') left center no-repeat;display:inline-block;min-width:22px;min-height:22px;padding-left:27px;}
.texture-top{background:url('/img/homepage/texture-top.png') repeat-x scroll top left;height:28px;border-bottom:0;bottom:-14px;left:-1px;position:absolute;}
.content-block.full-width{background:#fff;}
.content-block.full-width .top{position:relative;background:url('/img/homepage/texture-bottom.png') top left repeat-x;height:28px;}
.content-block.full-width .bottom{background:url('/img/homepage/texture-top.png') bottom left repeat-x;height:28px;}
#megamenu{position:relative;}
#megamenu div.megamenu-in{position:absolute;z-index:9997;top:0;left:50%;width:1022px;margin-left:-512px;border-left:2px solid #dc291e;border-bottom:2px solid #dc291e;border-right:2px solid #dc291e;display:none;background:#FFF;}
#megamenu div.megamenu-in .five-cols{padding:0 43px;}
#megamenu div.megamenu-in .four-cols .section-d{background-color:#e1e1e1;}
#megamenu div.megamenu-in .four-cols .section-d .continuous-block{margin:0;padding:0 15px;}
#megamenu div.megamenu-in div.section{padding-top:13px;padding-bottom:23px;float:left;}
#megamenu div.megamenu-in .four-cols{padding-left:43px;}
#megamenu div.megamenu-in.active{display:block;}
#megamenu div.megamenu-in.inactive{display:none;}
#megamenu div.megamenu-in dl.see-more{margin-top:25px;padding:15px 0 0 15px;background-color:#ECECEC;border:1px solid #E2E2E2;}
#megamenu dl.see-more.text-link-block dd{background:none;}
#megamenu div.megamenu-in dl.see-more dd{line-height:23px;}
#megamenu div.megamenu-in dl.see-more dd a{font-weight:bold;}
#megamenu div.megamenu-in dl.see-more dd.sale a{color:#f36b21;text-transform:uppercase;}
#megamenu dl.text-link-block dd,#megamenu dl.text-link-block dt{background:url('/img/header/border-pattern-deflink.png') bottom left repeat-x;float:none;}
#megamenu div.megamenu-in div.five-cols div.section{width:20%;}
#megamenu div.megamenu-in div.four-cols div.section{width:25%;}
#megamenu div.megamenu-in div.four-cols div.section-d img{padding-bottom:18px;}
#footer{background:url('/img/footer/emailsignupbackground.png') left -6px repeat-x #fff;width:100%;padding-bottom:8px;}
#footer.checkout{background:none;border-top:5px solid #DC291E;width:100%;background-color:#FFF;}
#footer div.section-a{width:980px;padding:0 16px;height:77px;margin:0 auto;}
#footer.checkout div.section-a{width:980px;margin:0 auto;padding-top:10px;}
#footer div.section-a .title span.sign-up-for{padding:9px 0 0;}
#footer div.section-a .title span.sign-up-for{font-family:'Gotham A','Gotham B',Arial,Helvetica,sans-serif;font-weight:400;font-style:normal;font-size:27px;line-height:24px;display:block;color:#FFF;}
#footer div.section-a .title span.email-updates{font-family:'Gotham A','Gotham B',Arial,Helvetica,sans-serif;font-weight:700;font-style:normal;font-size:27px;line-height:24px;letter-spacing:-1px;display:block;color:#FFF;}
#footer div.section-a div.section{float:left;height:77px;}
#footer div.section-a-a{width:232px;}
#footer.checkout div.section-a-a{padding-top:8px;}
#footer div.section-a-b{width:330px;}
#footer div.section-a-b div.sign-up-details{line-height:22px;color:#FFF;padding:12px 28px 0;}
#footer div.section-a-c{width:385px;}
#footer.checkout div.section-a-c{float:right!important;text-align:right;}
#footer.checkout div.section-a-c .link-container{padding:15px 23px 0 0;float:right;}
#footer.checkout div.section-a-c ul li{display:inline-block;padding:10px 5px 0;}
#footer.checkout div.section-a-c ul li img{vertical-align:middle;}
#footer div.section-a-c form{margin:0;padding:0;border:0;}
#footer div.section-a-c form input.textfield-search{float:left;margin:18px 0;}
#footer div.section-a-c form input.submit{background:url('/img/footer/gobutton.png') no-repeat scroll top left;cursor:pointer;display:block;float:left;width:59px;height:32px;margin:18px 0 18px 6px;}
#footer div.section-b{width:980px;margin:0 auto;padding:0 16px;}
#footer div.section-b div.section-b-child{width:24%;float:left;display:block;}
#footer div.section-b div.section-b-child.section-b-c{width:28%;}
#footer div.section-b-c dl.download-our-apps dt{text-align:center;}
#footer div.section-b-c .download-our-apps dd a{display:block;}
#footer div.section-b-c dl.download-our-apps dd{float:left;}
#footer div.section-b div.section-b-child dl.text-link-block.download-our-apps dd{padding-right:0;margin:0;}
#footer div.section-b-c dl.download-our-apps dt{margin-right:0;}
#footer div.section-b-c dl.download-our-apps dd.ipad,#footer div.section-b-c dl.download-our-apps dd.ipad a,#footer div.section-b-c dl.download-our-apps dd.app-store,#footer div.section-b-c dl.download-our-apps dd.app-store a,#footer div.section-b-c dl.download-our-apps dd.android,#footer div.section-b-c dl.download-our-apps dd.android a{margin:0;padding:0;display:inline-block;float:none;font-size:0;line-height:0;}
#footer div.section-b-c dl.download-our-apps dd.ipad{width:100%;text-align:center;padding:10px 0;}
#footer div.section-b-c dl.download-our-apps dd.ipad,#footer div.section-b-c dl.download-our-apps dd.app-store,#footer div.section-b-c dl.download-our-apps dd.android{padding-right:20px;}
#footer div.section-b-c dl.download-our-apps dd.app-store,#footer div.section-b-c dl.download-our-apps dd.android{width:49%;text-align:center;}
#footer div.section-b-d dl.find-us{margin:0 15px;}
#footer div.section-b-d dl.find-us dd{width:30%;float:left;text-align:center;margin:0 0 13px 0;}
#footer div.section-b div.section-b-child dl.text-link-block.find-us dd{padding-right:0;}
#footer div.section-b div.section-b-child dl.text-link-block.find-us dd.first a{text-align:left;}
#footer div.section-b div.section-b-child dl.text-link-block.find-us dd.second a{text-align:center;}
#footer div.section-b div.section-b-child dl.text-link-block.find-us dd.third a{text-align:right;}
#footer div.section-b-d .find-us dd a,#footer div.section-b-d .find-us div a{display:block;margin:0;}
#top-category-menu{background:#FFF;}
#top-category-menu ul.menu{width:980px;margin:0 auto;}
#top-category-menu ul.menu li{float:left;border-right:1px solid #CDCDCD;margin:17px 0;}
#top-category-menu ul.menu li a{font-weight:bold;display:block;float:left;font-size:13px;}
#top-category-menu ul.menu li.active a{color:#dc291e;}
#top-category-menu ul.menu li.sale a{color:#f37a20;}
#top-category-menu ul.menu li.last{border-right:none;}
.promo-banner{background-color:#F36B21;text-align:center;color:#FFF;font-family:'ClarendonBT-Roman','times new roman',serif;font-size:15px;line-height:24px;min-height:24px;}
dl.text-link-block dt{font-size:18px;font-weight:bold;line-height:20px;padding:23px 0 10px 0;margin-right:20px;float:none;}
dl.text-link-block dd{margin-right:20px;float:none;}
dl.text-link-block dd,dl.text-link-block a{line-height:30px;text-decoration:none;}
div.continuous-block{padding:23px 0 10px 0;margin-right:20px;}
div.continuous-block .title{font-size:18px;font-weight:bold;line-height:20px;margin:5px 0 10px 0;}
div.continuous-block p{line-height:110%;text-decoration:none;}
input[type="text"],input[type="password"],textarea{-webkit-background-clip:padding-box;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;border:1px solid #C5C5C5;color:#414142;font-family:Helvetica,sans-serif;}
.theme-1{font-family:'ClarendonBT-Roman','times new roman',serif;font-size:15px;color:#8B8B8B;}
.theme-2{font-family:"Helvetica",Arial,"MS Trebuchet",sans-serif;font-size:14px;color:#000;}
.error-message{border:2px solid #DC291E;clear:both;color:#F00;font:12px/14px Helvetica,sans-serif;padding:10px;margin-top:7px;}
input.error,select.error,textarea.error{border:1px solid #DC291E!important;}
input.textfield-search{font-size:12px;display:block;width:246px;height:32px;line-height:100%;padding:0 18px;font-family:Helvetica,sans-serif;}
#header .textfield-search.ghost{font-family:'Georgia','Times New Roman',serif!important;color:#C8C8C8!important;}
#header .textfield-search.noghost{color:#414142!important;font-family:Helvetica,sans-serif;font-style:normal;}
input[type=text]::-ms-clear{display:none;}
.call-to-action,.call-to-action a,.call-to-action span{line-height:30px;text-decoration:none;font-weight:bold;}
.call-to-action a{font-weight:bold!important;}
.call-to-action a,.call-to-action span.bullet{float:left;}
.call-to-action span.bullet{margin-left:5px;display:block;width:5px;height:30px;background:url('/img/buttons/arrowred.png') center center no-repeat;}
.call-to-action span.bullet.reverse{margin-left:0;margin-right:5px;background:url('/img/buttons/arrowred-reverse.png') center center no-repeat;}
.row-block{width:980px;margin:0 auto;}
.strong{font-weight:bold!important;}
.header-title{font-family:'Gotham A','Gotham B',Arial,Helvetica,sans-serif;font-weight:700;font-style:normal;font-size:43px;text-shadow:-2px -1px 0 #EEE,-2px -1px 2px #DC291E;}
.sub-head{font-size:30px;font-weight:bold;color:#414142;}
.header-three{font-size:16px;font-weight:bold;color:#414142;}
.text-link{color:#535353;text-decoration:none;}
.text-decoration{text-decoration:underline;}
.system-link{color:#057dc2;text-decoration:none;}
.minicart-system-link{color:#057dc2;text-decoration:none;}
.rollover-link{font-weight:normal;color:#FFF;background-color:#dc291e;text-decoration:none;}
.active-link{font-weight:bold!important;color:#dc291e!important;text-decoration:none;}
.action-link{font-weight:bold;background:url('/img/buttons/arrowred.png') no-repeat center right transparent;padding-right:15px;margin-bottom:8px;display:inline-block;}
ul.stars li{background-position:center center;background-repeat:no-repeat;display:inline-block;}
ul.stars.small li.star{background-image:url('/img/stars/smallstaroff.png');width:11px;height:11px;font-size:11px;}
ul.stars.small li.active{background-image:url('/img/stars/smallstaron.png');}
ul.stars.medium li.star{background-image:url('/img/stars/staroff.png');width:16px;height:16px;font-size:16px;}
ul.stars.medium li.star.active{background-image:url('/img/stars/staron.png');}
ul.stars.big li.star{background-image:url('/img/stars/starbigoff.png');width:23px;height:23px;font-size:22px;}
ul.stars.big li.star.active{background-image:url('/img/stars/starbigon.png');}
ul.stars.big li.star.active-25{background-image:url('/img/stars/starbigon_25.png');}
ul.stars.big li.star.active-50{background-image:url('/img/stars/starbigon_50.png');}
ul.stars.big li.star.active-75{background-image:url('/img/stars/starbigon_75.png');}
ul.stars.rating li.star{background-position:top center;background-image:url('/img/stars/ratingStars.png');height:19px;width:22px;font-size:19px;}
ul.stars.rating li.star.active{background-position:0 -21px!important;}
ul.stars.reviews li.star{background-position:top center;background-image:url('/img/stars/starreviewsoff.png');height:14px;width:17px;font-size:14px;}
ul.stars.reviews li.star.active{background-image:url('/img/stars/starreviewson.png');}
.nutrition-facts .title{font-family:'Gotham A','Gotham B',Arial,Helvetica,sans-serif;font-weight:700;font-style:normal;font-size:18px;line-height:30px;color:#f36b21;padding-bottom:2px;}
.nutrition-facts .product-name{line-height:26px;color:#FFF;margin-bottom:6px;padding-left:30px;background-color:#8b8b8b;font-weight:bold;font-size:14px;font-family:"Helvetica",Arial,"MS Trebuchet",sans-serif;width:100%;box-sizing:border-box;-moz-box-sizing:border-box;text-align:left;cursor:pointer;}
.nutrition-facts .product-name.collapsed{background:url('/img/common/triangle-white-collapsed.png') 12px 7px no-repeat #8b8b8b;}
.nutrition-facts .product-name.expanded{background:url('/img/common/triangle-white-expanded.png') 11px 9px no-repeat #8b8b8b;border:none!important;}
.nutrition-facts .product-name::-moz-focus-inner{margin:-1px;padding:0;border-width:1px;}
.nutrition-facts-chart{border:1px solid #414142;padding:5px;font-family:Helvetica,sans-serif;font-size:11px;}
.nutrition-facts-chart .content{text-align:left;}
.nutrition-facts-chart .content dl{margin:0;padding:0 0 2px;line-height:14px;}
.nutrition-facts{font-size:11px;}
.nutrition-facts-chart .title{font-family:Helvetica,sans-serif;font-size:24px;font-weight:bold;line-height:30px;color:#414142;padding-bottom:2px;text-align:left;}
.nutrition-facts-chart .content .rules{width:100%;}
.nutrition-facts-chart .content td.rules{padding:0;}
.nutrition-facts-chart .content .rules.rule1{height:1px;width:100%;}
.nutrition-facts-chart .content .rules.rule1 img{height:1px;width:210px;}
.nutrition-facts-chart .content .rules.rule2{height:4px;}
.nutrition-facts-chart .content .rules.rule3{height:9px;}
.nutrition-facts .fact-title{background-color:#d5d5d5;text-align:right;font-weight:bold;padding-right:5px;}
.nutrition-facts table{width:100%;}
.nutrition-facts table.vitamins{width:100%;}
.nutrition-facts table thead .label{font-weight:bold;width:120px;}
.nutrition-facts-chart .nutrition-facts table.calories tbody td.label{max-width:95px;}
.nutrition-facts table tbody .label{padding-left:10%;}
.nutrition-facts table .avg{text-align:right;}
.nutrition-facts table.vitamins .label,.nutrition-facts table.vitamins .avg{padding:0 10px 0 0;}
.nutrition-facts table.details-single td.val{text-align:right;}
.nutrition-facts ul{margin-bottom:15px;}
.nutrition-facts .dv .label.percentage{text-align:right;}
.nutrition-facts table.vitamins .label_1{width:45%;font-family:Helvetica,sans-serif;max-width:112px;line-height:14px;vertical-align:top;}
.nutrition-facts table.vitamins .label_2{width:10%;text-align:center;font-size:10pt;font-family:Helvetica,sans-serif;}
.nutrition-facts table.vitamins .label_3{text-align:right;width:45%;font-family:Helvetica,sans-serif;max-width:112px;line-height:14px;vertical-align:top;}
.nutrition-facts table.vitamins .label_1 span.abs:before,.nutrition-facts table.vitamins .label_3 span.abs:before{content:' ';}
.nutrition-facts table.footer-section{margin-bottom:10px;}
.nutrition-facts table td.footer{border-bottom:3px solid #3c3c3c;padding:3px 0 5px;}
.nutrition-facts table td.footer-disclaimer{border-bottom:1px solid #3c3c3c;padding:5px 0 10px;font-size:9px;}
@media print{.nutrition-facts-chart{font-family:Helvetica,sans-serif;font-size:11px;}
.nutrition-facts-chart .title{font-family:Helvetica,sans-serif;font-size:24px;font-weight:bold;line-height:30px;color:#414142;padding-bottom:2px;text-align:left;}
.nutrition-facts-chart .product-name{line-height:26px;color:#FFF;margin-bottom:6px;padding-left:30px;background-color:#8b8b8b;font-weight:bold;font-size:14px;}
.nutrition-facts-chart .product-name.collapsed{background:url('/img/common/triangle-white-collapsed.png') 12px 7px no-repeat #8b8b8b;}
.nutrition-facts-chart .product-name.expanded{background:url('/img/common/triangle-white-expanded.png') 11px 9px no-repeat #8b8b8b;border:none!important;}
.nutrition-facts-chart .content{text-align:left;}
.nutrition-facts-chart .content dl,.nutrition-facts-chart .content dd{margin:0;}
.nutrition-facts-chart .nutrition-facts{font-size:11px;line-height:14px;}
.nutrition-facts-chart .nutrition-facts .fact-title{background-color:#d5d5d5;text-align:right;font-weight:bold;padding-right:5px;}
.nutrition-facts-chart .nutrition-facts .details-xtd .percentage{text-align:right;}
.nutrition-facts-chart .nutrition-facts table{width:100%;border-collapse:collapse;}
.nutrition-facts-chart .nutrition-facts table tr{min-height:1px;}
.nutrition-facts-chart .nutrition-facts table td{padding:2px 0;}
.nutrition-facts-chart .nutrition-facts table.vitamins{width:100%;}
.nutrition-facts-chart .nutrition-facts table.vitamins .label_1{width:45%;font-family:Helvetica,sans-serif;}
.nutrition-facts-chart .nutrition-facts table.vitamins .label_2{width:10%;text-align:center;font-size:10pt;font-family:Helvetica,sans-serif;}
.nutrition-facts-chart .nutrition-facts table.vitamins .label_3{text-align:right;width:45%;font-family:Helvetica,sans-serif;}
.nutrition-facts-chart .nutrition-facts table .label{font-weight:bold;padding:2px 0;}
.nutrition-facts-chart .nutrition-facts table td.sub-label{padding-left:10px;}
.nutrition-facts-chart .nutrition-facts table td.sub-label img{width:200px!important;}
.nutrition-facts-chart .nutrition-facts table .abs{font-weight:normal;}
.nutrition-facts-chart .nutrition-facts table .avg{text-align:right;font-weight:bold;width:30px;text-align:right;}
.nutrition-facts-chart .notice,.nutrition-facts-chart .nutrition-facts table.calories{font-size:9px;margin-top:2px;}
.nutrition-facts-chart .nutrition-facts table.calories{margin-top:6px;}
.nutrition-facts-chart .nutrition-facts table.calories td,.nutrition-facts-chart .nutrition-facts table.calories th{font-weight:normal;}
.nutrition-facts-chart .nutrition-facts table.vitamins .label,.nutrition-facts-chart .nutrition-facts table.vitamins .avg{padding:0 10px 0 0;}
.nutrition-facts-chart .nutrition-facts table.details-single td.val{text-align:right;}
.nutrition-facts-chart .nutrition-facts ul{margin-bottom:15px;}
}
.ghost{color:#C8C8C8!important;font-family:'Georgia','Times New Roman',serif!important;font-size:15px;font-weight:bold!important;}
.primary-1{color:#fff;}
.primary-2{color:#ececec;}
.primary-3{color:#dc291e;}
.primary-4{color:#414142;}
.primary-5{color:#8b8b8b;}
.primary-6{color:#6cb345;}
.primary-7{color:#fcb716;}
.primary-8{color:#f36b21;}
.primary-9{color:#7b418c;}
.primary-10{color:#057dc2;}
.secondary-1{color:#ed6648;}
.secondary-2{color:#f39b7a;}
.secondary-3{color:#f1e2c6;}
.secondary-4{color:#89cbde;}
.tab a,.button a,button.button,a.button,input.button{-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;position:relative;}
.tab a,.button a,button.button,a.button{text-align:center;position:relative;}
.tab{position:relative;height:62px;}
.tab a,.button a,button.button,a.button,input.button{font-family:'Gotham A','Gotham B',Arial,Helvetica,sans-serif;font-weight:700;font-style:normal;font-size:18px;text-align:center;text-decoration:none;color:#FFF;display:block;height:43px;line-height:100%;padding:0 10px;border-width:1px;border-style:solid;cursor:pointer;}
button.system-link{font-family:Helvetica,sans-serif;font-size:14px;}
.button.ovalloff{font-family:"GothamBold",Arial,"MS Trebuchet",sans-serif;font-size:18px;line-height:38px;color:#fff;background-color:#808080;border-color:#911a13;outline-color:#911a13;outline-style:inherit;cursor:default;}
button.add-to-cart{background-color:#dc291e;padding:0 10px 0 45px;border-color:#911a13;border-width:1px;border-style:solid;text-align:left;font-size:18px;letter-spacing:-1px;background-image:url('/img/buttons/cart.png');background-position:15px center;background-repeat:no-repeat;outline-color:#911a13;outline-style:inherit;}
button.add-to-list{background-color:#DC291E;background-image:url("/img/buttons/plus.png");background-position:15px center;background-repeat:no-repeat;border-color:#911A13;border-style:solid;border-width:1px;font-size:18px;letter-spacing:-1px;padding:0 10px 0 45px;text-align:left;outline-color:#911A13;outline-style:inherit;}
.tab.unselected a{background-color:#e8746d;border-color:#ed855d;font-weight:normal;}
.tab.active a{background-color:#dc291e;border-color:#b94b33;}
.tab.active a span.triangle{background:url('/img/buttons/active-tab-triangle.png') top left;width:31px;height:15px;position:absolute;bottom:-15px;left:50%;margin-left:-15px;z-index:+99;}
button.active{font-family:"Helvetica",Arial,"MS Trebuchet",sans-serif;font-size:16px;color:#fff;background-color:#565656;border-style:inset;color:#fff;}
button.button.unselected,a.button.unselected{font-family:"Helvetica",Arial,"MS Trebuchet",sans-serif;font-size:16px;color:#414142;background-color:#fff;border-color:#c5c5c5;outline-color:#c5c5c5;outline-style:inherit;}
.button.inactive{font-family:'Gotham A','Gotham B',Arial,Helvetica,sans-serif;font-weight:500;font-style:normal;font-size:18px;color:#a9a9a9;background-color:#dfdfdf;border-color:#a9a9a9;outline-color:#a9a9a9;outline-style:inherit;}
button.button.secondary{font-family:'Gotham A','Gotham B',Arial,Helvetica,sans-serif;font-weight:500;font-style:normal;font-size:15px;color:#fff;background-color:#8b8b8b;border-color:#414142;outline-color:#414142;outline-style:inherit;}
button.button.tertriary{font-family:'Gotham A','Gotham B',Arial,Helvetica,sans-serif;font-weight:500;font-style:normal;font-size:15px;color:#414142;background-color:#dfdfdf;border-color:#9b9b9b;outline-color:#9b9b9b;outline-style:inherit;}
.button.ovallon{font-family:'Gotham A','Gotham B',Arial,Helvetica,sans-serif;font-weight:700;font-style:normal;font-size:18px;line-height:38px;color:#fff;background-color:#dc291e;border-color:#911a13;outline-color:#911a13;outline-style:inherit;}
.button.ovalloff{background-color:#dfdfdf;border-color:#a9a9a9;color:#a9a9a9;cursor:default;font-family:"GothamBold",Arial,"MS Trebuchet",sans-serif;font-size:18px;line-height:38px;outline-color:#a9a9a9;outline-style:inherit;}
.homepage .content-block-4 .button.ovallon{width:85px;height:35px;line-height:32px!important;font-size:18px;}
.button.nextPage,.button.prevPage{font-family:'Gotham A','Gotham B',Arial,Helvetica,sans-serif;font-weight:700;font-style:normal;border-radius:4px;width:30px;height:30px;font-size:18px;line-height:0;color:#fff;background-color:#057dc2;}
.button.nextPage-mini{font-family:'Gotham A','Gotham B',Arial,Helvetica,sans-serif;font-weight:700;font-style:normal;border-radius:4px;width:15px;height:20px;font-size:14px;line-height:0;color:#fff;background-color:#057dc2;text-align:center;}
.map-results .map-note{line-height:18px;text-align:left;width:340px;padding:8px 0 28px;}
.map-results .map-note .map-note-title{font-family:"MarydaleRegular",Helvetica,sans-serif;font-size:30px;line-height:36px;color:#dc291e;}
.map-results .store-list .store{padding:11px 0;border-bottom:1px solid #c5c5c5;border-top:1px solid #c5c5c5;margin-top:-1px;min-height:63px;}
.map-results .store-list .store .picker{background:url('/img/category/imhere.png') top center no-repeat;width:20px;height:34px;margin:0 15px 0 0;padding:4px 0 0;text-align:center;float:left;font-size:10px;line-height:12px;}
.map-results .store-list .store .details{float:left;text-align:left;}
.map-results .store-list .store .details dt{width:255px;line-height:20px;}
.map-results .store-list .store .details dd{color:#414142;font:bold 12px/17px Helvetica,sans-serif;}
.map-results .store-list .store .heb-icon{background:url('/img/storeLocator/hebplus.png') center center;width:59px;height:25px;display:inline-block;font-size:25px;margin-bottom:-3px;}
.map-results .store-list .store .select{float:right;margin:0;width:95px;line-height:18px;margin-top:4px;height:38px;line-height:36px;}
.map-container{margin-top:23px;width:100%;}
.map-container .map{margin-top:17px;width:330px!important;box-sizing:border-box;border:2px solid #FFF;}
.map-container .map img{width:100%;height:auto;}
.map-container .map-controllers{width:330px;float:left;}
.map-container .map-results{width:405px;float:right;text-align:center;}
.pdp .map-results{width:405px;float:right;text-align:left;}
.map-container .map-controllers .textfield-search{width:188px;padding:11px 10px;margin-right:11px;font-family:"Helvetica",Arial,"MS Trebuchet",sans-serif;font-size:14px;line-height:14px;font-weight:normal;font-style:normal;color:#414142;height:auto;display:block;float:left;}
.map-container .map-controllers button.go{width:85px;line-height:38px;display:block;float:left;height:38px;margin:1px 0;}
.map-container .map-controllers .help{color:#8B8B8B;margin-top:10px;font-size:13px;line-height:15px;}
.map-container .map-results .current-results-details{line-height:15px;padding-bottom:12px;text-align:left;font-size:13px;}
.pagenofn{text-align:center;font-size:18px;color:#8B8B8B;line-height:18px;margin-top:13px;}
.load-more-container{text-align:center;}
.load-more-container .button.unselected.strong{display:inline-block;margin:35px auto 0;margin:35px auto 13px;padding:0;font-size:18px;line-height:18px;height:auto;min-height:20px;padding:16px 0;width:345px;}
.map-results .show-more-stores{float:right;margin-top:20px;}
.map-results .show-more-stores ul{float:left;margin:0 4px 0 12px;font-size:0;letter-spacing:0;}
.map-results .show-more-stores ul li{margin-top:7px;padding:0 12px;border-left:1px solid #CECECE;display:inline-block;vertical-align:middle;text-align:center;}
.map-results .show-more-stores ul li.no-border{border:none;font-size:14px;padding:0 12px 0 0;}
.map-results .show-more-stores button{float:left;}
.pdp-Overlay-info .category-select-store .map-container .map-results .store-list .store{min-height:0;}
.contentMap{width:195px;max-height:250px;overflow:auto;padding:10px;}
.contentMap h2{font-size:14px;line-height:16px;padding:0 0 10px;}
.contentMap p{color:#414142;font:bold 12px/14px Helvetica,sans-serif;padding:0 0 5px;}
.contentMap div{margin:0 0 10px;}
.contentMap span{font-weight:normal;}
.contentMap .distance-note{color:#8B8B8B;font-weight:normal;}
.contentImg{float:left;width:300px;margin-right:10px;text-align:center;}
.contentImg a{color:#369;font-size:12px;}
.contentTxt{width:185px;padding:0 4px;margin:0!important;}
.contentTxt .seemorelink{padding:0;}
.seemorelink{font:bold 14px/16px Helvetica,sans-serif;color:#414142;text-decoration:none;padding:7px 0 0 18px;display:inline-block;}
.bullet{background:url('/img/storeLocator/arrowred.png') right center no-repeat transparent;height:9px;display:inline-block;margin-left:6px;width:5px;}
.overlay-content-wrapper{position:absolute;width:100%;}
.overlay-content-wrapper .close-window{position:absolute;top:12px;right:19px;width:17px;height:17px;background-image:url('/img/common/close.png');}
.red-dots-divider{background-image:url("/img/common/dotredright.png");height:5px;margin:10px 0;width:100%;}
#mini-shopping-list,#mini-cart{width:100%;background:#FFF;}
#mini-shopping-list .mini-list-container,#mini-cart .mini-cart-container{width:980px;margin:0 auto;padding:0 97px;background-color:#FFF;}
#mini-shopping-list .close-window,#mini-cart .close-window{background:none;}
.mini-list-container .list-carousel,.mini-cart-container .list-carousel{padding-bottom:10px;}
.jcarousel-skin-mlts ul.four-circular-carousel-shopping .jcarousel-item span{display:block;}
.mini-list-container .list-carousel .jcarousel-skin-mlts .jcarousel-container,.mini-cart-container .list-carousel .jcarousel-skin-mlts .jcarousel-container{min-height:93px;}
.mini-list-container .list-carousel li,.mini-cart-container .list-carousel li{width:210px;}
.mini-list-container .list-carousel img,.mini-cart-container .list-carousel img{float:left;width:91px;height:91px;border:1px solid #D4D4D4;}
.mini-list-container .list-carousel .jcarousel-skin-mlts .jcarousel-clip-horizontal,.mini-cart-container .list-carousel .jcarousel-skin-mlts .jcarousel-clip-horizontal{width:840px;}
.mini-list-container .list-carousel .jcarousel-skin-mlts .jcarousel-prev-horizontal,.mini-cart-container .list-carousel .jcarousel-skin-mlts .jcarousel-prev-horizontal{background:url("/img/buttons/arrowlistleft.png") no-repeat scroll 0 0 transparent;height:42px;width:42px;top:47px;}
.mini-list-container .list-carousel .jcarousel-skin-mlts .jcarousel-next-horizontal,.mini-cart-container .list-carousel .jcarousel-skin-mlts .jcarousel-next-horizontal{background:url("/img/buttons/arrowlistright.png") no-repeat scroll 0 0 transparent;height:42px;width:42px;}
.mini-list-container .list-carousel .list-item,.mini-cart-container .list-carousel .list-item{text-align:left;min-height:93px;}
.mini-list-container .list-carousel .list-item .item-description,.mini-cart-container .list-carousel .list-item .item-description{display:inline-block;width:105px;padding:0 5px;line-height:16px;}
.mini-cart-container .list-carousel .list-item .item-description .item-description-name{font-size:12px;max-height:32px;max-width:105px;font-weight:bold;white-space:normal;overflow:hidden;}
.mini-cart-container .list-carousel .list-item .item-description .item-price{font-size:16px;line-height:18px;font-weight:bold;color:#DC291E;padding:2px 0;display:block;}
.mini-list-container .divider.dottedLine,.mini-cart-container .divider.dottedLine{background-image:url('/img/header/dottedline.png');height:2px;margin:7px 0 11px;}
.mini-list-container .title,.mini-cart-container .title{line-height:38px;}
.mini-cart-container .title .title-item,.mini-cart-container .title .title-item a{font-size:20px;line-height:22px;font-weight:bold;}
.mini-cart-container .title .title-item{float:left;width:315px;padding-top:10px;}
.mini-cart-container .title .title-item a{color:#DC291E;text-decoration:none;font-weight:normal;}
.mini-cart-container .title .title-subtotal{float:left;width:374px;padding-top:14px;font-size:16px;line-height:18px;}
.mini-cart-container .title .title-action{float:left;width:250px;padding-top:5px;}
.mini-cart-container .title .title-action a{float:left;padding-right:15px;}
.mini-cart-container .title .title-action button{width:180px!important;height:35px!important;line-height:33px!important;}
.mini-list-container .go-to-full-list,.mini-cart-container .go-to-full-list{float:left;margin-left:10px;margin-top:7px;}
.mini-list-container .header-three,.mini-cart-container .header-three{float:left;font-size:22px;line-height:33px;margin-top:2px;}
.mini-list-container .header-three span,.mini-cart-container .header-three span{font-weight:normal;}
.mini-list-container .title .weekly-groceries,.mini-cart-container .title .weekly-groceries{margin-top:5px;}
.mini-list-container .title .weekly-groceries select{min-width:210px!important;max-width:210px!important;height:33px;padding:7px 30px 6px 6px;}
.mini-list-container .title .closeitem,.mini-cart-container .title .closeitem{margin-left:25px;position:relative!important;top:0!important;right:0!important;}
.mini-list-container .title .closeitem a,.mini-cart-container .title .closeitem a{display:block;}
.mini-list-container .title .closeitem img,.mini-cart-container .title .closeitem img{vertical-align:middle;margin-top:10px;}
.aheadSearch{position:absolute;z-index:10002;top:54px;display:none;}
.aheadSearch .container{display:block;background-color:#eaeaea;border:1px solid #D5D7D8;}
.aheadSearch .container.signup{width:282px;}
.aheadSearch .container.signed{width:804px;}
.aheadSearch .left-block{float:left;padding:0 0 20px 0;background-color:#eaeaea;}
.aheadSearch .signup .left-block{width:90%;}
.aheadSearch .signed .left-block{width:22%;}
.aheadSearch .left-block ul.search-results li{width:95%;padding:10px 0 10px 25px;line-height:16px;}
.aheadSearch .left-block ul.search-results li a{display:block;}
.aheadSearch .signed .left-block ul.search-results li{width:90%;}
.aheadSearch .left-block ul.search-results li.active{background-color:#fff;}
.aheadSearch .left-block ul.search-results li:hover{background-color:#fff;}
.aheadSearch .right-block{float:right;background-color:#fff;padding:10px 25px 14px 25px;}
.aheadSearch .signup .right-block{width:47%;}
.aheadSearch .signed .right-block{width:71%;}
.aheadSearch .right-block div.search-by{margin-bottom:19px;}
.aheadSearch .right-block .aheadSearch-title,.aheadSearch .right-block .aheadSearch-title h3{font-size:18px;line-height:20px;background:url("/img/common/dotredright.png") bottom left repeat-x transparent;padding:6px 0 10px;margin-bottom:3px;font-weight:bold;}
.aheadSearch .right-block div.aheadSearch-title .sale{font-family:"MarydaleBold",Helvetica,sans-serif;font-size:20px;line-height:7px;color:#F36B21;}
.aheadSearch .right-block div.deals-on-similar-items{margin-bottom:10px;}
.aheadSearch .signed .right-block div.deals-on-similar-items p{float:left;line-height:42px;padding-right:15px;padding-top:10px;font-size:16px;}
.aheadSearch .signup .right-block div.deals-on-similar-items ul{padding:25px 0 0 10px;display:block;}
.aheadSearch .signed .right-block div.deals-on-similar-items ul{padding:7px 0 0 0;display:block;}
.aheadSearch .right-block div.deals-on-similar-items ul li{display:block;float:left;}
.aheadSearch .signed .right-block div.deals-on-similar-items ul li{width:185px;padding-right:5px;}
.aheadSearch .signed .right-block div.deals-on-similar-items .deals-on-similar-items-img,.aheadSearch .signed .right-block div.deals-on-similar-items .deals-on-similar-items-name{float:left;}
.aheadSearch .signed .right-block div.deals-on-similar-items .deals-on-similar-items-img{width:65px;}
.aheadSearch .signed .right-block div.deals-on-similar-items .deals-on-similar-items-name{font-size:13px;line-height:16px;width:105px;padding:3px 5px 0 10px;}
.aheadSearch .signed .right-block div.deals-on-similar-items .deals-on-similar-items-name a{font-size:13px;line-height:16px;}
.aheadSearch .right-block div.deals-on-similar-items .button.ovallon{margin-top:10px;}
.aheadSearch .signup .right-block .search-by ul{float:left;width:50%;}
.aheadSearch .signed .right-block .search-by ul{float:left;width:33%;}
.aheadSearch .right-block .search-by ul li{padding:4px 0;}
.aheadSearch .right-block .call-to-action{float:right;padding-top:8px;}
.aheadSearch .right-block .call-to-action,.aheadSearch .right-block .call-to-action a,.aheadSearch .right-block .call-to-action span{line-height:14px;}
.aheadSearch .right-block .call-to-action span.bullet{height:14px;}
.aheadSearch .right-block .flag{color:#FFF;font-weight:bold;height:33px;line-height:34px;padding:0 0 0 15px;margin-bottom:15px;width:102px;}
.aheadSearch .right-block .flag.blue-flag{background-image:url("/img/searchAhead/flag01.png");}
.aheadSearch .right-block .flag.yellow-flag{background-image:url('/img/searchAhead/flag02.png');color:#000;}
.aheadSearch .right-block .flag.orage-flag{background-image:url('/img/searchAhead/flag03.png');}
.iframe-container{min-height:1714px;}
.cutomize-checkbox input[type="checkbox"]{border:0 none;clip:rect(0px,0px,0px,0px);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px;}
.cutomize-checkbox input[type="checkbox"]+label,.cutomize-checkbox input[type="checkbox"]+input[type="hidden"]+label{background-position:0 0;background-repeat:no-repeat;cursor:pointer;padding-left:21px;width:0;line-height:21px;height:21px;display:block;}
.cutomize-checkbox label{background:url("/img/common/addons.png") no-repeat scroll right top transparent;}
.cutomize-checkbox label.disabled{background:url("/img/common/addons-disable.png") no-repeat scroll right top transparent!important;}
.cutomize-checkbox input.checked[type="checkbox"]+label,.cutomize-checkbox input.checked[type="checkbox"]+input[type="hidden"]+label{background-position:0 -24px;}
.password-tooltip-container{float:left;font-size:0;letter-spacing:0;width:380px;padding-left:1px;}
.pwd-tooltip-left{background:url("/img/common/helpTxt_left.png") no-repeat scroll left top transparent;float:left;height:32px;margin-top:0;width:17px;}
.pwd-inner-container{background-color:#86cbdf;float:left;height:32px;margin-top:0;min-height:32px;max-width:355px;}
.pwd-inner-container p{font-size:11px;line-height:16px;padding-top:8px;color:#FFF;}
.pwd-tooltip-right{background:url("/img/common/helpTxt_right.png") no-repeat scroll left top transparent;float:left;height:32px;margin-top:0;width:5px;}
.password-tooltip-container .tick-img{background:url("/img/common/passwordtip.png") no-repeat scroll 4px 4px transparent;display:inline;float:left;height:31px;margin-top:0;min-width:27px;}
.rdcrcl-navigation{margin:30px 0;}
.rdcrcl-navigation li .number,.rdcrcl-navigation li .details{display:block;float:left;}
.rdcrcl-navigation li.active div{color:#fff;}
.rdcrcl-navigation li .number{font-family:'ClarendonBT-Roman','times new roman',serif;font-size:45px;color:#fff;text-align:center;line-height:50px;}
@media screen and(-ms-high-contrast:active),(-ms-high-contrast:none){.rdcrcl-navigation li .number{font-size:45px;line-height:55px;}
}
.rdcrcl-navigation li .details{font-family:'Gotham A','Gotham B',Arial,Helvetica,sans-serif;font-weight:700;font-style:normal;color:#bbb;font-size:15px;line-height:14px;margin-left:-2px;}
.rdcrcl-navigation li.active .details .valign{left:5px!important;}
.rdcrcl-navigation li{float:left;height:56px;margin-left:-20px;}
.rdcrcl-navigation li.first{margin-left:0;}
.rdcrcl-navigation li .number{background:url('/img/pharmacy/step-number.png') top left no-repeat;width:54px;height:56px;padding:3px 6px 0 27px;line-height:50px;}
.rdcrcl-navigation li.active .number{background-image:url('/img/pharmacy/step-number-active.png');}
.rdcrcl-navigation li.first .number{background-image:url('/img/pharmacy/step-number-first.png');width:55px;padding:3px 5px 0 0;text-align:center;}
.rdcrcl-navigation li.active.first .number{background-image:url('/img/pharmacy/step-number-first-active.png');}
.rdcrcl-navigation .details{background:url('/img/pharmacy/step-details.png') top right no-repeat;height:53px;padding-right:40px;}
.rdcrcl-navigation li.active .details{background-image:url('/img/pharmacy/step-details.png');margin-left:-1px;}
.rdcrcl-navigation li.active .details{background-image:url('/img/pharmacy/step-details-active.png');}
.view-tabs-container{font:normal 15px/17px Helvetica,sans-serif;padding:10px 0 15px;}
.view-tabs-container .view-tab-highlight{border:solid 2px #d5d5d5;-moz-box-shadow:1px 1px 1px #908F8F;-webkit-box-shadow:1px 1px 1px #908F8F;box-shadow:0 0 0 1px #908F8F;background-color:#565656;border-radius:3px;-webkit-border-radius:3px;color:#FFF;width:235px;float:left;margin:1px 15px 0 1px;padding:2px 0;text-align:center;min-height:45px;position:relative;box-sizing:border-box;-moz-box-sizing:border-box;}
.view-tabs-container .view-tab-highlight a{display:block;color:#FFF;text-decoration:none;padding:0 2px;font-weight:bold;font-size:16px;line-height:18px;}
.view-tabs-container .view-tab{border:solid 1px #C5C5C5;border-radius:3px;-webkit-border-radius:3px;color:#FFF;width:235px;float:left;text-align:center;min-height:47px;background-color:#FFF;margin:0 12px 0 0;padding:4px 0;position:relative;box-sizing:border-box;-moz-box-sizing:border-box;}
.tab-message-container{font-size:15px;line-height:23px;font-family:Helvetica,sans-serif;width:452px;z-index:2;text-align:center;position:relative;}
.tab-message-container span{display:block;}
.tab-message-container .tab-arrow{background:transparent url('/img/category/greenArrow.png') no-repeat center top;height:16px;}
.tab-message-container .tab-message-tooltip{position:absolute;top:-15px;left:89px;width:100%;}
.tab-message-container .tab-message-tooltip .tab-message-tooltip-container{border:1px solid #46B00A;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.tab-message-container .tab-message-tooltip .tab-message-tooltip-title{font-weight:bold;color:#FFF;padding:6px 25px 6px 40px;background:#46B00A url('/img/category/priceTag.png') no-repeat 8px top;position:relative;}
.tab-message-container .tab-message-tooltip .tab-message-tooltip-title a{display:inline-block;position:absolute;right:10px;top:12px;}
.tab-message-container .tab-message-tooltip .tab-message-tooltip-info{font-size:14px;background-color:#EFF7EB;color:#000;padding:7px 0;-webkit-border-bottom-left-radius:3px;-moz-border-bottom-left-radius:3px;border-bottom-left-radius:3px;-webkit-border-bottom-right-radius:3px;-moz-border-bottom-right-radius:3px;border-bottom-right-radius:3px;}
.view-tabs-container .view-tab.small,.view-tabs-container .view-tab-highlight.small{width:154px;}
.view-tab-small{width:175px!important;}
.view-tabs-container a{display:block;}
.view-tabs-container .view-tab a{text-decoration:none;padding:0 2px;color:#414142;font-size:16px;line-height:18px;}
.view-tabs-container .view-tab-on{background:url('/img/category/arrowup.png') no-repeat center top;position:absolute;left:40%;bottom:-18px;width:23px;height:14px;}
.view-tabs-container .view-tab .view-tab-on{bottom:-16px;}
.qtip-light{border-color:#C5C5C5!important;color:#414142!important;font-family:Helvetica,sans-serif!important;font-size:14px!important;line-height:18px!important;}
.item-description-name{overflow:visible!important;}
.item-description-name span{width:auto;}
.pharmacyloctxt{text-align:left;margin-bottom:10px;}
.MapPushpinBase div{top:3px!important;width:20px;margin:0!important;padding:0!important;}
#myMap_infobox_content>span{color:#414142!important;font-weight:bold!important;font-size:15px!important;}
#myMap_infobox_content{border:1px solid #414142!important;}
span.submenu-first-line,span.submenu-second-line,span.submenu-only-line{display:block;line-height:16px;text-align:center;padding:0 10px;}
#top-category-menu ul.menu li:first-child span.submenu-first-line,#top-category-menu ul.menu li:first-child span.submenu-second-line,#top-category-menu ul.menu li:first-child span.submenu-only-line{padding:0 10px 0 0;}
span.submenu-first-line{margin-top:2px;}
span.submenu-second-line{margin-bottom:2px;}
span.submenu-only-line{margin:2px 0;line-height:32px;}