
#feefopage {
     font-size: 11px;
     background: transparent;
     border: 0px;
     position:absolute;
     right:3000px;
     float:right;
     outline:none;
     z-index:999999;
     vertical-align:bottom;
}

#x-feefologo {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    bottom: 0;
    float: right;
    outline: medium none;
    position: fixed; right: 20px;
    vertical-align: bottom;
    z-index: 9300;
}

.feefologoright { background: none repeat scroll 0 0 transparent;
    border: 0 none;
    bottom: 0;
    float: right;
    outline: medium none;
    position: fixed; right: 20px;
    vertical-align: bottom;
    z-index: 9300;
}

.feefologoleft {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    bottom: 0;
    outline: medium none;
    position: fixed;
    left: 20px;
    vertical-align: bottom;
    z-index: 9300;
}

#feefologo img{
	border:0 none;
}

#feefologoa img{
    border:0 none;
    z-index: 9300;
}


#feefoInpageLogo{
	border:0;
	position:absolute;
	top:200px;
	left:50px;
	z-index:1;

}

#feefoInpageLogo img{
	border:0;
}

#feefoImage img{
	border:0;
}

#feefofade{
	display: none;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.7;
	opacity:.70;
	filter: alpha(opacity=70);
}


#FeefoUpdateProgressHideSelect
{
    z-index: 15000;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    border: none;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    display: inline !important;
}
 
* html #FeefoUpdateProgressHideSelect
{
    position: absolute;
    height: expression(
document.body.scrollHeight > document.body.offsetHeight
? document.body.scrollHeight
: document.body.offsetHeight + ‘px’);
}


